body {
  background-color: #f1f1f1;
}

#light-grey {
  background-color: #eeeeee;
}

input {
  all: unset;
  width: 30px;
  height: 30px;
  display: inline;
  border: none;
}

input:focus {
  all: unset;
  width: 30px;
  height: 30px;
}

table {
  margin:1em auto;
}

.bg-custom-gray, input.bg-custom-gray:focus {
  background-color: #edf1f5;
  color: #4a6472;
}

.bg-incorrect, input.bg-incorrect:focus  {
  background-color: #ff9ea5;
  color: #ff0000;
}

td {
  height:30px;
  width:30px;
  border: 1px solid #909090;
  text-align:center;
}

td:first-child {
  border-left: solid;
}
td:nth-child(3n) {
  border-right: solid;
}
tr:first-child {
  border-top: solid;
}
tr:nth-child(3n) td {
  border-bottom: solid;
}
